<!-- paulcy.mboungou@gmail.com -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>St Mary's BigData Even | Contact</title>
	<link rel="stylesheet" type="text/css" href="{% static "bd/css/index.css" %}">
</head>
<body>
	<center>
		<div class="menu">{% csrf_token %}
    		<ul>
	    		<li><span></span><a href="{% url 'bd:index' %}">HOME</a></li>
	    		<li><span></span><a href="{% url 'bd:agenda' %}">AGENDA</a></li>
	   			<li><span></span><a href="{% url 'bd:college' %}">COLLEGE</a></li>
    			<li><span></span><a href="{% url 'bd:contact' %}">CONTACT</a></li>
    		</ul>
		</div>	
	</center>

	<center>
	<table width="60%"  valign="top" align="center" bgcolor="#F8F8F8">
		<tr>
			<td><font font size="5" align="center" ><center>
				<h1 align="center" ><font color=#47D147 size=6> For any enquiry regarding the Conference<br> Please Contact:</font></h1>
				<p>Co-ordinator <br> Mr Krishna Prasad M.H.R <br> ( Head, Department of Mathematics, <br> Statistics and Computer Science )<br> +91 9440011499</p> 
				<p> Ms Anu Victor <br> ( Lecturer, Computer Science ) <br> +91 9885059338 </p> 
				<p> Ms G Aneetha <br>( Lecturer, Computer Science )<br> +91 9701809015</p> 
				<p>E-mail to: <br> reachus@stmaryscollege.in</p></center>
				</font>
		    </td>
		</tr>
	</table></center>
	<br>

	<center>
  	<table width="90%" class="college" bgcolor="#f8f8f8">
  <tr>
    <th scope="col">POWERED BY</th>
    <th scope="col">ADDRESS</th>
    <th scope="col">CONTACT US</th>
    <th scope="col">OUR COLLEGE</th>
  </tr>
  <tr>
  	<td class="copyright"> #KSC-CONGO <br> paulcy.mboungou@gmail.com <br>Copyright &copy; 2015 </td>
    <td class="addressFooter">St. Marys's College
                     <br>
                     Youssufguda, Hyderabad - 5000045
                     <br>
                     Telangana State, India
                     </td>
    <td class="me">+91-40-23544300, 23545642 <br> 9440011499</td>
    <td><center><img src="{% static "bd/images/college.gif" %}" alt="college"/></center></td>
  </tr>
</table>
  </center>

 </body>
 </html>